<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon1">Documentos</span>
            <input type="number" class="form-control" placeholder="Documentos por pagina" aria-label="Max" aria-describedby="basic-addon1" 
            [ngModel]="documentsPerPage" (ngModelChange)="onDocumentsPerPageChange($event)">
          </div>
    </div>
    
    <div class="col-sm-12 col-md-6">
        <div style="display: none;">
            <div *ngFor="let i of [].constructor(count) | paginate: { itemsPerPage: documentsPerPage, currentPage: page,totalItems:count }"></div>
        </div>
        <div class="has-text-centered ">
            <pagination-controls (pageChange)="onPageChange($event)" previousLabel="Anterior" nextLabel="Siguiente" />
        </div>
    </div>
    
</div>

