<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="mb-0 d-inline-block pl-1">Agregar Auto Transporte</h3>
        </div>
    </div>
    <div class="content-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>
                        <span class="title pl-100px">Datos de Auto Transporte</span>
                    </h4>
                  </div>
                  <form [formGroup]="form">
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 inputsForm">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-4">
                                            <fieldset>
                                                <label for="nombre" class="form-label">Nombre</label><br>
                                                <input type="text" id="nombre" formControlName="nombre" class="form-control input">
                                            </fieldset>
                                        </div>

                                        <div class="col-sm-12 col-md-4">
                                            <fieldset>
                                                <label for="clave" class="form-label">Clave</label><br>
                                                <input type="text" id="clave" formControlName="clave" class="form-control input">
                                            </fieldset>
                                        </div>

                                        <div class="col-sm-12 col-md-4">
                                            <fieldset>
                                                <label for="anioModeloVM" class="form-label">Año modelo vehicular</label><br>
                                                <input type="text" id="anioModeloVM" formControlName="anioModeloVM" class="form-control input">
                                            </fieldset>
                                        </div>

                                        <div class="col-sm-12 col-md-4">
                                            <fieldset>
                                                <label for="aseguraRespCivil" class="form-label">Aseguradora Responsabilidad Civil</label><br>
                                                <input type="text" id="aseguraRespCivil" formControlName="aseguraRespCivil" class="form-control input">
                                            </fieldset>
                                        </div>
                                        
                                        <div class="col-sm-12 col-md-4">
                                            <fieldset>
                                                <label for="configVehicularInput" class="form-label">Configuración Vehicular</label><br>
                                                <mat-select formControlName="configVehicular" class=" custom-select">
                                                    <mat-option *ngFor="let object of configVehicular" [value]="object.value" class="option">{{object.name}}</mat-option>
                                                </mat-select>
                                            </fieldset>
                                        </div>
                                        
                                        <div class="col-sm-12 col-md-4">
                                            <fieldset>
                                                <label for="numPermisoSCT" class="form-label">Numero Permiso SCT</label><br>
                                                <input type="text" id="numPermisoSCT" formControlName="numPermisoSCT" class="form-control input">
                                            </fieldset>
                                        </div>
                                        
                                        <div class="col-sm-12 col-md-4">
                                            <fieldset>
                                                <label for="permSCT" class="form-label">Permiso SCT</label><br>
                                                <input type="text" id="permSCT" formControlName="permSCT" class="form-control input">
                                            </fieldset>
                                        </div>
                                        
                                        <div class="col-sm-12 col-md-4">
                                            <fieldset>
                                                <label for="placaVM" class="form-label">Placa Vehicular</label><br>
                                                <input type="text" id="placaVM" formControlName="placaVM" class="form-control input">
                                            </fieldset>
                                        </div>
                                        
                                        <div class="col-sm-12 col-md-4">
                                            <fieldset>
                                                <label for="polizaRespCivil" class="form-label">Poliza Responsabilidad Civil</label><br>
                                                <input type="text" id="polizaRespCivil" formControlName="polizaRespCivil" class="form-control input">
                                            </fieldset>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="colss-12 text-right mt-2 buttonsForm">
                                    <a (click)="onSubmit()"  style="cursor: pointer;" type="submit" class="btn btn-primary pull-right font-custom mt-1" >
                                        <!-- <button type="button" class="btn btn-primary pull-right font-custom"> -->
                                            <i class="fa fa-save font-custom"> <span style="font-family: sans-serif;"> Guardar</span></i>
                                        <!-- </button> -->
                                    </a>
                                    <a (click)="onCancel()" type="button" class="btn btn-danger pull-right font-custom m-1">
                                            <i class="fa fa-close font-custom"> <span style="font-family: sans-serif;"> Cancelar</span></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
