<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-content collapse-show">
                <div class="card-body">
                    <form>
                        <div class="row">
                        </div>
                    </form>
                    <div class="row">
                        <app-list/>
                    </div>
                    <div class="row">
                        <app-export-csv [endpoint]="endpoint" [params]="params"/>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
